package domain

import "errors"

var (
	ErrUserNotFound      = errors.New("user not found")
	ErrUserNameRequired  = errors.New("user name is required")
	ErrUserEmailRequired = errors.New("user email is required")
	ErrUserDeleted       = errors.New("user is deleted")
)
